@font-face {
    font-family: "ArialRounded";
    src: url("./fonts/ArialRounded.ttf")
}
html, body {
    background-color: #ff7254;
    height: 100%;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.DivContainer {
    background-color: #e14926;
    border-radius: 10px;
    height: 360px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.Pomodoro {
    border-radius: 10px;
    border: none;
    font-family: "ArialRounded";
    color: white;
    background-color: #ff7254;
    padding: 2px 10px 2px 10px;
}

.Short {
    border-radius: 10px;
    border: none;
    font-family: "ArialRounded";
    color: white;
    background-color: #ff7254;
}

.Long {
    border-radius: 10px;
    border: none;
    font-family: "ArialRounded";
    color: white;
    background-color: #ff7254;
}

.btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    gap: 20px;
}

.BtnStart {
    height: 70px;
    width: 220px;
    border-radius: 5px;
    border: none;
    color: #ff7254;
    font-size: 22px;
    font-weight: bold;
    font-family: "ArialRounded";
}

.BtnStartContainer {
    display: flex;
    justify-content: center;
}

.PomodoroTimer {
    color: white;
    display: flex;
    justify-content: center;
    font-family: "ArialRounded";
    font-size: 100px;
}