@font-face {
    font-family: "ArialRounded";
    src: url("./fonts/ArialRounded.ttf")
}
html, body {
    background-color: #ff7254;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.DivContainer {
    background-color: #e14926;
    border-radius: 10px;
    height: 360px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.Pomodoro {
    border-radius: 10px;
    border: none;
    font-family: "ArialRounded";
    color: white;
    background-color: #ff7254;
    padding: 2px 10px 2px 10px;
}

.Short {
    border-radius: 10px;
    border: none;
    font-family: "ArialRounded";
    color: white;
    background-color: #ff7254;
}

.Long {
    border-radius: 10px;
    border: none;
    font-family: "ArialRounded";
    color: white;
    background-color: #ff7254;
}

.btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    gap: 20px;
}

.BtnStart {
    height: 70px;
    width: 220px;
    border-radius: 5px;
    border: none;
    color: #ff7254;
    font-size: 22px;
    font-weight: bold;
    font-family: "ArialRounded";
}

.BtnStartContainer {
    display: flex;
    justify-content: center;
}

#Timer {
    color: white;
    display: flex;
    justify-content: center;
    font-family: "ArialRounded";
    font-size: 100px;
}

.TaskDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 600px;
    margin-top: 15px;
    border: 2px dashed #737070;
    border-radius: 7px;
    opacity: 60%;
}

.TaskDiv:hover {
    opacity: 100%;
}

.AddTask {
    font-family: "ArialRounded";
    color: #737070;
    margin: 0px;
}

.plusimg {
    margin-right: 5px;
}

#cardBox {
    display: none;
    margin-top: 10px;
    width: 460px;
    height: 120px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#taskInput {
    display: flex;
    padding-left: 10px;
    width: 430px;
    height: 40px;
    border: none;
    font-family: "ArialRounded";
    opacity: 70%;
}

.btnTask {
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 8px;
    height: 40px;
    width: 70px;
    opacity: 80%;
}

.btnTask:hover {
    opacity: 100%;
}


#saveBtn {
    background-color: rgb(29, 29, 29);
    color: rgba(255, 255, 255, 0.735);
}

#cancelBtn {
    border: none;
    background-color: rgba(255, 255, 255, 0.735) ;
}

.buttonBox {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    display: flex;
    gap: 5px;
}